version: '3'
services:
  web:
    build: .
    ports:
      - "1323:1323"
  consul:
    image: consul
    ports:
      - "8500:8500"
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
  registrator:
    image: gliderlabs/registrator
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock"
    command: consul://consul:8500
    restart: always
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
